.wrapper {
	border: 5px solid black;
	top: 50%;
	left: 50%;
	position: absolute;
	width: 1000px;
	height: 500px;
	transform: translate(-50%, -50%);
	background: url('/images/background.png')
	
}

body {
	background: black;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;		
}



#canvas5 {
	background: url('/images/first-plane.png')
}

#canvas4 {
	opacity:0.9;
	background: url('/images/colorfog.png') repeat 0 0;
  	width: 100%;
  	margin: 0;
  	height: 500px;
  	-webkit-animation: slide 20s linear infinite;
}



@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
}


#canvas7 {
	visibility: hidden;
	background: url('../images/end-canvas.gif')
}

#canvas3trigger3 {
	visibility: hidden;
	background: url('../images/90.png')
}